<html>

<head>
	
<title>
	My First Django Site


</title>
<style type="text/css">
	h1 {
		text-align : center;
		color: #444444;
	}
	img {

	}

	.moth{
		font: 28px Arial;
		/*color: #1F41AF;*/
	}

	#tel {
		width: 170px;
	}
	.call {
		border: 1px solid #444444;
		width: 200px;
		position: ;
	}

</style>
</head>
<body>

<h1>Let's start</h1>


<div class='moth'>
Hello, motherfucker!
<ul>Список:
<li>1.</li>
<li>2.</li>
<li>3.</li>
</ul>

</div>

<br>
<br>
<br>
<br>


<div align="center" class="moth call">
Call us:<br>
8-800-900-100
</div>

<div align="left">
<br>
	<img src="https://images-na.ssl-images-amazon.com/images/I/71JIHReJ9hL._SY355_.jpg" name='contact_tel' id='tel'>

</div>
{{ posts }}







</body>
</html>