<html>

<head>
	
<title>
	My First Django Site


</title>
<style type="text/css">
	h1 {
		text-align : center;
		color: #444444;
	}
	img {

	}

	.moth{
		font: 28px Arial;
		/*color: #1F41AF;*/
	}

	#tel {
		width: 170px;
	}
	.call {
		border: 1px solid #444444;
		width: 200px;
		position: ;
	}
	#cont {
		width: 500px;
	}

</style>
</head>
<body>
<div>
        <h1><a href="/">My First Blog</a></h1>
    </div>

{% for post in posts %}
        <div id="cont">
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}







</body>
</html>