<html>

<head>
	
<title>
	My First Django Site


</title>
<style type="text/css">
	h1 {
		text-align : center;
		color: #666666;
	}

	.moth{
		font: 28px Arial;
		/*color: #1F41AF;*/
	}

	#tel {
		width: 170px;
	}

</style>
</head>
<body>

<h1>Lets start</h1>


<div class='moth'>
Hello, motherfucker!
</div>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="moth">
Call us
<br>
	<img src="https://images-na.ssl-images-amazon.com/images/I/71JIHReJ9hL._SY355_.jpg" name='contact_tel' id='tel'>

</div>







</body>
</html>